@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');


$primary: #FF7A00;
$secondary: #001E89;
$dark: #383838;
$white: #FAFAF9;
$light: #f5f5f5;
$milk: #FFF9F3;
$grad : radial-gradient(50% 50% at 50% 50%, #052BB3 0%, #001E89 100%);


*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding: 10vh;
    overflow-x: hidden;
}

body {
    font-size: 1.6rem;
    font-family: 'Ubuntu', sans-serif;
    background-color: $white;
    position: relative;
    overflow-x: hidden;
    height: 100%;
}

.cta {
    padding: 1.2rem 3rem;
    background-color: $primary;
    color: $white;
    text-decoration: none;
    border-radius: 20px 20px 20px 0;

    &:hover {
        color: $white;
    }
}

.cta.cta-secondary {
    background-color: transparent;
    border: 2px solid $primary;
    color: $primary;
}

h2 {
    font-size: 4rem;
    font-weight: bold;

    span {
        color: $primary;
    }
}


#nav {
    background-color: transparent;
    position: fixed;

    a {
        color: #383838;
        transition: all 0.4s ease-in-out;

        &:hover, .active {
            color: $primary;
        }
    }

    a.cta {
        color: unset;
        background-color: unset;
        background-color: transparent;
        border: 2px solid $primary;
        color: $primary;

        &:hover {
            background-color: $primary;
            color: $white;
        }
    }

    .navbar-brand img.white {
        display: none;
    }
}

#nav.scroll {
    background-color: $secondary;
    transition: all 0.4s ease-in-out;

    a {
        color: $white;

        &:hover, .active {
            color: $primary;
        }
    }

    a.cta:hover {
        color: $white;
    }

    .navbar-brand img.coloured {
        display: none;
    }
    .navbar-brand img.white {
        display: unset;
    }
}

#header {
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;


    .outer {
        display: flex;
        flex-wrap: wrap;
        align-self: stretch;
        align-items: center;
    }

    h1 {
        font-size: 6rem;
        font-weight: bold;

        span {
            color: $primary;
        }
    }

    p {
        margin: 3rem 0;
        color: $dark;
    }

    .left {
        flex: 1 0 30rem;
        // margin-right: 30px;
    }

    .right {
        flex: 1 0 45rem;
    }

    @supports (gap: 30px){
        .outer {
            gap: 30px;
        }

        .left {
            margin-right: unset;
        }
        .right {
            margin-bottom: unset;
        }
    }
}

#abt-us {
    min-height: 80vh;
    display: flex;
    align-items: center;
    color: $dark;
    background-color: $milk;

    .outer {
        align-self: stretch;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .left {
        flex: 1 0 40rem;
        display: flex;
        align-items: center;
        margin-right: 3rem;
    }

    .right {
        flex: 1 0 40rem;
    }

    .store-links {
        display: flex;
        margin-top: 2rem;

        .apple {
            background-color: #111;
            padding: 1rem;
            display: flex;
            align-items: center;
            line-height: 12px;
            color: $light;
            border-radius: 10px;
            height: 100%;
            margin: 0 20rem;

            p {
                font-size: 0.8rem;
                margin: 0;
            }

            h3 {
                font-size: 2rem;
                font-weight: bolder;
            }


            img {
                display: block;
                margin-right: 10px;
            }
        }

        .google {
            background-color: #111;
            padding: 1rem 2rem;
            display: flex;
            align-items: center;
            line-height: 12px;
            color: $light;
            border-radius: 10px;
            height: 100%;

            p {
                font-size: 0.8rem;
                margin: 0;
            }

            h3 {
                font-size: 2rem;
                font-weight: bolder;
            }


            img {
                display: block;
                margin-right: 10px;
            }
        }
    }

    @supports (gap: 20px) {
        .store-links {
            gap: 20px;

            .apple,
            .google {
                margin: 0 0;
            }
        }
    }
    
}

#services {
    .savings{
        background: radial-gradient(50% 50% at 50% 50%, #052BB3 0%, #001E89 100%);
        min-height: 80vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: $white;

        .outer {
            align-self: stretch;
            display: flex;
            align-items: center;

            .body {
                flex: 0 0 50rem;
                z-index: 2;

                h2 {
                    font-size: 5rem;
                }

                p {
                    margin: 2rem 0;
                }
            }
        }

        .savings-mascot {
            position: absolute;
            height: 60rem;
            width: auto;
            bottom: 0;
            right: 10%;
            z-index: 0;
        }
    }

    .ag-banking {
        background: linear-gradient(180deg, #EEF0F4 0%, #E3E5E9 100%);
        min-height: 80vh;
        position: relative;
        display: flex;
        align-items: center;

        .outer {
            align-self: stretch;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .body {
                flex: 0 0 50rem;
                justify-self: flex-end;
                z-index: 2;

                h2 {
                    font-size: 5rem;
                }

                p {
                    margin: 2rem 0;
                }
            }
        }

        .ag-banking-mascot {
            position: absolute;
            height: auto;
            width: 60rem;
            bottom: 0;
            left: 10%;
            z-index: 0;
        }
    }

    .investment {
        background: radial-gradient(50% 50% at 50% 50%, #052BB3 0%, #001E89 100%);
        min-height: 80vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: $white;

        .outer {
            align-self: stretch;
            display: flex;
            align-items: center;

            .body {
                flex: 0 0 55rem;
                z-index: 2;

                h2 {
                    font-size: 5rem;
                }

                p {
                    margin: 2rem 0;
                }
            }
        }

        .invest-mascot {
            position: absolute;
            height: 55rem;
            width: auto;
            bottom: 0;
            right: 10%;
            z-index: 0;
        }
    }
}

#whyus {
    min-height: 120vh;
    width: 100%;
    display: flex;
    align-items: center;
    color: $dark;

    h2 {
        text-align: center;
    }

    .outer {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .reasons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .reason {
            flex: 0 0 35rem;
            background-color: transparent;
            height: 350px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            padding: 1.2rem;
            border-radius: 20px 20px 20px 0;
            transition: all 0.2s ease-in-out;
            margin: 1rem;

            svg {
                overflow: visible !important;
                transform: scale(0.8);
            }

            svg path {
                fill: $dark;
                transition: all 0.2s ease-in-out;
            }

            .title {
                font-size: 3rem;
                font-weight: 700;
                color: $dark;
                text-transform: capitalize;
            }

            a {
                transition: all 0.2s ease-in-out;
                background-color: $primary;
                padding: 1rem 3rem;
                color: $white;
                border-radius: 20px 20px 20px 0;
                opacity: 0;
            }

            p {
                color: #9e9e9e;
                font-weight: 400;
            }

            &:hover {
                background-color: #ffdab55d;

                svg path {
                    fill: $primary;
                    transform: scale(1.1);
                    transform-origin: bottom;
                }

                p {
                    color: $primary;
                }

                h2 {
                    color: $primary;
                }
            }

            &:hover > a{
                opacity: 1;
            }
        }
    }
}

#newsletter {
    min-height: 20vh;
    background-color: #333333;
    display: flex;
    align-items: center;

    .outer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            color: $white;
        }
        
        .user-entry {
            display: flex;

            input {
                border: none;
                background-color: $white;
            }
        }
    }
}





@media screen and (max-width: 500px) {
    html {
        font-size: 50%;
    }

    #nav {
        a.cta {
            border: none;
        }

        .show {
            background-color: $secondary;
            border-radius: 20px;
            height: 100%;
            transition: 0.4s background-color ease-in-out;

            a.nav-link {
                color: $white;
            }
        }
    }

    #header {
        .outer {
            flex-direction: column-reverse;
            gap: unset;
        }

        // .left {

        // }

        .right {
            padding: 3rem;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            img {
                width: 80%;
                height: auto;
            }
        }

        .mouse {
            display: none;
        }
    }

    #abt-us {
        .left {
            flex: 1 0 40rem;
        }

        .right {
            padding: 2rem 0;
        }

        .store-links {
            flex-direction: column-reverse;
        }
    }

    #services {
        .savings {
            .savings-mascot {
                height: calc(50vh + 1px);
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .outer {
            align-items: flex-start;

            .body {
                align-self: start;
                max-width: 100%;
                margin-top: 5rem;
            }
        }

        .ag-banking {
            .ag-banking-mascot {
                width: calc(50vh + 1px);
                height: auto;
                left: 50%;
                transform: translateX(-50%); 
            }
        }

        .investment {
            .invest-mascot {
                height: calc(40vh + 1px);
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    #whyus {
        padding: 3rem 0;

        .reason {
            flex: 1 0 40rem !important;
            font-size: 2rem;
        }
    }
}